<div style="align-items: center;">
    <article class="all-browsers">
        <h1>Xocolatl</h1>
        <article class="us">
          <h2>Nosotros</h2>
          
          
        </article>
        
      </article>
</div>
<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile><p class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/TxHwy-mCAZw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p></mat-grid-tile>
  <mat-grid-tile><p>Xocolatl es una empresa mexicana dedicada a la venta de chocolate a mayoreo y menudeo, con los más altos estándares de calidad y concentrados en técnicas artesanales. El objetivo de esta página web es, además de ser publicidad, punto de venta, de contacto y un catálogo, es ser una fuente gratuita de información sobre la historia de esta bebida y su impacto en la cultura mexicana.
    Compartir historias y tradiciones relacionadas con el chocolate en nuestro país y en diferentes momentos de la historia.
  </p></mat-grid-tile>
  <mat-grid-tile><p>
    Se espera de este proyecto además el crecimiento económico de la empresa.            
  </p></mat-grid-tile>
  <mat-grid-tile><img src="/assets/img/im12.jpg" alt=""></mat-grid-tile>
</mat-grid-list>
