
  <div class="example-container">
    <div>
    <mat-form-field appearance="fill" layout-align="center">
      <mat-label>Usuario</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" layout-align="center">
      <mat-label>Correo</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" layout-align="center">
      <mat-label>Pais</mat-label>
      <mat-select>
        <mat-option value="option">Mexico</mat-option>
        <mat-option value="option">Canada</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    
    <button mat-button layout-align="center">Registrarse</button>
  </div>
  </div>

