<div class="" style="align-items: center;">
    <mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                ¿Como contactar?
            </mat-expansion-panel-header>
        
            Comunicate al 01-800-XOCOLATL
            o escribenos a xocolatl_123@gmail.com
    
        </mat-expansion-panel>
    
        <mat-expansion-panel>
        <mat-expansion-panel-header>
            ¿Con cuanto tiempo de anticipacion debo hacer mis pedidos?
        </mat-expansion-panel-header>
    
        Al menos 2 semanas para poder brindarte el mejor servicio 
    
        </mat-expansion-panel>
    
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                ¿Hacen entrega a domicilio?
            </mat-expansion-panel-header>
        
                Envios a domicilio unicamente en territorio nacional
            </mat-expansion-panel>

        <mat-expansion-panel>

            <mat-expansion-panel-header>
                ¿Existe local?
            </mat-expansion-panel-header>
                Unicamente en la direccion indicada en la pestaña de Contacto
     <mat-expansion-panel>
        </mat-expansion-panel>
            
       
    </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        ¿Que tan deliciosos son los productos?
                    </mat-expansion-panel-header>
                
                    Extremadamente 
                
                    </mat-expansion-panel>
    </mat-accordion>
</div>