*{
    font-family: 'Pacifico', cursive;
    font-size: 100%;
    color: white;
    text-shadow: 2px 2px 2px gray;
    background-color: #80bfff;
    align-items: center;
}

::ng-deep .mat-menu-item {
    color: palevioletred;
    text-shadow: 1px 1px 1px gray;
    background-color: white;
}

div{
    background-color: #80bfff;
    
}
/*Pruebas*/
