
    <mat-toolbar>
      <div>
          <a style="font-family: 'Italianno', cursive; font-size: 20px;" href="#" class=""><i class="fab fa-facebook-square"> </i> Facebook    </a>
          <a style="font-family: 'Italianno', cursive; font-size: 20px;" href="#" class=""><i class="fab fa-instagram-square"> </i> Instagram    </a>
          <a style="font-family: 'Italianno', cursive; font-size: 20px;" href="#" class=""><i class="fab fa-pinterest-square"></i> Pinterest    </a>
       </div>

    </mat-toolbar>
    <mat-toolbar>
        <div>© 2020 Copyright:<a href="https://mdbootstrap.com/"> xocolatl.com</a>

        </div>
      
    </mat-toolbar>
